:root{
  --flag-height:200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: var(--flag-height);
  width: calc(var(--flag-height) * 8/5);
  background-color: rgb(22, 65, 114);
  display: grid;
  grid-template-columns: 5fr 2fr 9fr;
  grid-template-rows: 4fr 2fr 4fr;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.stripe{
  background-color: yellow;
}

.vertical {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
}

.horizontal {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

@media (max-width:480px) {
  :root {
    --flag-height:100px;
  }
}

@media (max-width:768px) {
  :root {
    --flag-height:150px;
  }
}