:root{
  --container-width: 200px;
  --container-height: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container {
  width: var(--container-width);
  height: var(--container-height);
}

.black {
  width: var(--container-width);
  height: var(--container-height);
  background-color: black;
}

.blue {
  width: calc(var(--container-width) - 20%);
  height: calc(var(--container-height) - 20%);
  background-color: blue;
}

.red {
  width: calc(var(--container-width) - 50%);
  height: calc(var(--container-height) - 50%);
  background-color: red;
}

.yellow {
  width: calc(var(--container-width) - 100%);
  height: calc(var(--container-height) - 100%);
  background-color: yellow;
}

@media (max-width:480px) {
  :root {
    --container-width: 100px;
    --container-height: 100px;
  }
}

@media (max-width:768px) {
  :root {
    --container-width: 150px;
    --container-height: 150px;
  }
}