:root {
  --bg-color: rgb(14, 19, 17);
  --light: rgb(22, 216, 97);
  --medium: rgb(17, 143, 65);
  --dark: rgb(8, 73, 33);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph {
  display: grid;
  grid-template-columns: repeat(52, 20px);
  column-gap: 2px;
}

.graph ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

ul li {
  width: 20px;
  height: 20px;
  background-color: rgb(63, 63, 63);
  border: 2px solid black;
  list-style: none;
  border-radius: 5px;
}

[data-value='3'] {
  background-color: var(--dark);
}

[data-value='5'] {
  background-color: var(--medium);
}

[data-value='10'] {
  background-color: var(--light);
}